{% extends "base.html.twig" %}

{% block page_title %}Lucky Number{% endblock %}

{% block title %}Lucky Number{% endblock %}

{% block body %}
       
    <div class="bground">
        <div class="card">
      <div class= "hero">
        <div class="content">
            <h1 class="anim">Lucky<br>Number</h1>
            <h2 class="anim">This is the current magic number:</h2>
            <h1 class="anim"><br> {{ number }}</h1>
            <a href="{{ path('lucky_number') }}" class="btn anim">Try Again</a>
        </div>
        <img src="{{ asset('img/lottery4.png') }}" class="feature-img anim">
    </div>
</div>
</div>

<!-- ----Javascript for Toggle Menu---- -->
    <script>
        var navLinks = document.getElementById("navLinks");

        function showMenu(){
            navLinks.style.right = "0";
        }
        function hideMenu(){
            navLinks.style.right = "-200px";
        }
    </script>
{% endblock %}